In [1]:
# module 20 final project part one - import CSVs and do some simple ETL to prepare for upload to PostGres
# working locally in mlenv environment means needed packages are already installed 

# import json - we might need this later if we do web scraping
import pandas as pd
import numpy as np

In [10]:
# take the file path from the windows explorer and change the back slash to forward slashes
# C:\Users\Christopher\Desktop\Class_Folder\final_project_support
file_path = "./Resources/Basic_Stats.csv"
NFL_basic_stats_df = pd.read_csv(file_path, low_memory=False)
# since the pd.read.csv can not find the file path from Google Collab, I will try it from local VM server instead to see if it behaves differently
# getting a permission error - has this ever happened before?  Do I have to open the file in Excel and enable editing?

In [13]:
# ETL section
# file has over 17000 records
# do we need to keep retired players? 
# do we care about age column since it has nulls? drop the whole column? 
NFL_basic_stats_df.head(10)
# we could probably drop birthday too but actually we probably won't use any of this data to compute models
# this file is being used really only as a test to download, clean, and load into postGres3
# definitely have to drop any columns with nulls in them, not the rows

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
5,NaN,"Sumner , IL",9/11/1892,Illinois,Retired,NaN,1 Season,73.0,NaN,NaN,"Petty, Ross",NaN,rosspetty/2523136,NaN,180.0,1920 - 1920
6,NaN,"Casper , WY",9/16/1920,Wisconsin,Retired,NaN,3 Seasons,73.0,NaN,NaN,"Farris, Tom",NaN,tomfarris/2513861,NaN,185.0,1946 - 1948
7,22.0,"Navarre , FL",1/31/1995,Clemson,Active,New York Jets,Rookie,77.0,Navarre HS,FL,"Leggett, Jordan",NaN,jordanleggett/2557885,TE,250.0,NaN
8,NaN,NaN,NaN,No College,Retired,NaN,1 Season,NaN,NaN,NaN,"Thompson, Pinky",NaN,pinkythompson/2527303,NaN,NaN,1927 - 1927
9,98.0,"Alverton , PA",2/23/1919,Duquesne,Retired,NaN,1 Season,70.0,NaN,NaN,"Gonda, George",NaN,georgegonda/2515030,NaN,175.0,1942 - 1942